{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
        <div class="card m-2">
            <div class="card-header">
                <a class="btn" href="{{ url_for('user_posts', username=post.author) }}"><b class="m-2 text-primary">{{post.author | title}}</b></a>
                <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
    {% endfor %}
    {% if not posts.items %}
        <div class="alert alert-info">
            <h5 class="card-text">No Posts Found...</h5>
        </div>
    {% endif %}
    <div class="row">
        {% for page_num in posts.iter_pages() %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info m-1" style="width: 5%;" href="{{ url_for('search', query=query, page=page_num)}}">{{page_num}}</a>
                {% else %}
                    <a class="btn btn-outline-info m-1" style="width: 5%;" href="{{ url_for('search', query=query, page=page_num)}}">{{page_num}}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

